---
# Copy this file to workspace.override.yml and fill local live-test values.
# The override file is gitignored.

attribute('test.digitalocean.api_token'): ''
attribute('test.digitalocean.ssh_keys'): []
attribute('test.digitalocean.project_name'): ''
attribute('ansible.galaxy.token'): ''
attribute('github.api_token'): ''
